<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="grid">
            <div class="referenceStaff__wrapper">
                <h3 class="referenceStaff__title">Danh sách lượt làm</h3>
                <span class="referenceStaff__title">Nhân viên: <%=staff.name%></span>
                <% if (workTimes.length>0) {%>
                    <table class="referenceStaff__table">
                        <tr>
                            <th colspan="2">Ngày</th>
                            <th colspan="2">Giờ bắt đầu</th>
                            <th colspan="2">Giờ kết thúc</th>
                            <th colspan="2">Nơi làm việc</th>
                            <th colspan="2">Giờ làm thêm</th>
                            <th colspan="2"></th>
                        </tr>
                        <% workTimes.forEach(workTime=>{%>
                            <tr>
                                <td colspan="2">
                                    <%=workTime.startTime.getDate() %>
                                </td>
                                <td colspan="2">
                                    <%=workTime.startTime.getHours()%>:<%=workTime.startTime.getMinutes()%>h
                                </td>
                                <td colspan="2">
                                    <%=workTime.endTime.getHours()%>:<%=workTime.endTime.getMinutes()%>h
                                </td>
                                <td colspan="2">
                                    <%= workTime.workPlace==='home' ? ' Nhà' : workTime.workPlace==='company'
                                        ? ' Công ty' : ' Khách Hàng' %>
                                </td>
                                <td colspan="2">
                                    <% const hoursEnd=workTime.endTime.getHours(); const
                                        hoursStart=workTime.startTime.getHours(); const totalTimeWork=(hoursEnd* 60
                                        +workTime.endTime.getMinutes()) - (hoursStart*60 +
                                        workTime.startTime.getMinutes()); %>
                                        <%= totalTimeWork/60 - 8 < 0 ? 0 : (totalTimeWork/60 - 8).toFixed(2) %>
                                </td>
                                <td colspan="2">
                                    <form action="/manageStaff/postDeleteWorkTime" method="POST">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="workTime" value="<%=workTime._id%>">
                                        <input type="hidden" name="staffId" value="<%=staff._id%>">
                                        <button class="btn-danger" type="submit">Xóa</button>
                                    </form>
                                </td>
                            </tr>
                            <% } )%>
                    </table>
                    <p class="referenceStaff__article">
                        Tổng số giờ làm lần này <%=lastTimeWorked%>
                    </p>
                    <%} else{ %>
                        <h3>Chưa có lượt làm</h3>
                        <% }%>
                            <form style="text-align:center" class="form-control" action="/manageStaff/comfirmTimeWork"
                                method="POST">
                                <button class="btn" type="submit">Xác nhận</button>
                                <input type="hidden" name="staffId" value="<%= staff._id%>">
                                <input type="hidden" name="month" value=<%=month%>>
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            </form>
            </div>
        </div>
        </div>
        <%- include ('../includes/end.ejs')%>