<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="centered">
            <% if (errorMessage) {%>
                <div class="notification">
                    <span>
                        <%=errorMessage%>
                    </span>
                </div>
                <%}%>
                    <form class="form-control" action="/auth/login" method="POST">
                        <label for="userName">Tên đăng nhập</label>
                        <input id="userName" name="userName" type="text">
                        <label for="password">Mật khẩu</label>
                        <input id="password" name="password" type="password">
                        <button class="btn" type="submit">Đăng nhâp</button>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    </form>
        </div>
        </div>
        <%- include ('../includes/end.ejs')%>